In [1]:
import tabula
import pandas as pd
import os

In [2]:
the_files =os.listdir("../../raw_data/")

the_files

['resultados_completos_master_invierno_2021.pdf']

In [4]:
castellon_data = tabula.read_pdf("../../raw_data/" + the_files[0] , pages = "all" )

Got stderr: Apr 11, 2021 10:21:23 PM org.apache.pdfbox.pdmodel.font.PDType0Font toUnicode
WARNING: No Unicode mapping for CID+32 (32) in font Arial
Apr 11, 2021 10:21:23 PM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 codeToGID
WARNING: Failed to find a character mapping for 32 in Arial

In [5]:
len(castellon_data)

425

In [10]:
castellon_data[4]

,Puntos: ESP Masters 20,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Clasificación AN,NaN,NaN,Tiempo,Pts
1,80+,NaN,NaN,NaN,NaN
2,"1. CANALES DE MENDOZA, Joaquin Ma 40",NaN,R.C. Mediterraneo,1:43.86,653
3,50m: 48.38 48.38 100m: 1:43.86,NaN,55.48,NaN,NaN
4,"2. BOSSERT SCHWARZE, Ingolf 40",NaN,C. Tenerife Masters,2:22.25,254
5,50m: 1:08.34 1:08.34 100m: 2:22.25,NaN,1:13.91,NaN,NaN
6,75+,NaN,NaN,NaN,NaN
7,"1. LESTIDEAU, Jean Claude 46",NaN,C. Tenerife Masters,1:29.99,640
8,50m: 41.39 41.39 100m: 1:29.99,NaN,48.60,NaN,NaN
9,65+,NaN,NaN,NaN,NaN
10,"1. MURUZABAL SITGES, Tomas 56",NaN,C. Tenis Chamartin,1:34.17,334